@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@font-face{
    font-family: 'TankTrouble';
    src:url('../media/fonts/TankTrouble.eot');
    src:url('../media/fonts/TankTrouble.eot?#iefix') format('embedded-opentype'),
    url('../media/fonts/TankTrouble.woff2') format('woff2'),
    url('../media/fonts/TankTrouble.woff') format('woff'),
    url('../media/fonts/TankTrouble.ttf')  format('truetype'),
    url('../media/fonts/TankTrouble.svg') format('svg');;
}

/* 
Yellow: #F1C439
Purple: #6e25a4
*/

/* Alignments */
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.indent {
    text-indent: 50px;
}

/* backgrounds */
.yback {
    background-color: #F1C439;
}

.yback h1 {
    color: #6e25a4;
}

.yback h2 {
    color: #6e25a4;
}

.yback p {
    color: #000;
}

.yback li {
    color: #000;
}

.yback a {
    color: #6e25a4;
}

.yback a:visited {
    color: #6e25a4;
}

.yback a:hover {
    color: #000;
}

.pback {
    background-color: #6e25a4;
}

.pback h1 {
    color: #F1C439;
}

.pback h2 {
    color: #F1C439;
}

.pback p {
    color: #fff;
}

.pback li {
    color: #fff;
}

.pback a {
    color: #F1C439;
}

.pback a:visited {
    color: #F1C439;
}

.pback a:hover {
    color: #fff;
}

.whiteback {
    background-color: white;
}

.whiteback h1 {
    color: #6e25a4;
}

.whiteback h2 {
    color: #6e25a4;
}

.whiteback p {
    color: black;
}

.whiteback li {
    color: black;
}

.whiteback a {
    color: #6e25a4;
}

.whiteback a:visited {
    color: #6e25a4;
}

.whiteback a:hover {
    color: #000;
}

.blackback {
    background-color: black;
}

.blackback h1 {
    color: #F1C439;
}

.blackback h2 {
    color: #F1C439;
}

.blackback p {
    color: #fff;
}

.blackbacl li {
    color: #fff;
}

.blackback a {
    color: #F1C439;
}

.blackback a:visited {
    color: #F1C439;
}

.blackback a:hover {
    color: #6e25a4;
}

/* Padding and margins */
.textdivmargin {
    padding-left: 0;
    padding-right: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.textpad {
    padding: 0 20px 0 20px;
}

.nopad {
    padding: 0 0 0 0;
}

.padded {
    padding: 15px 15px 15px 15px;
}

/* Tag items */
img {
    max-width: 100%;
    vertical-align: middle;
}

.imgfull {
    width: 100%;
}

nav {
    background: black;
}

div {
    display: block;
    overflow: hidden;
    padding: none;
}

a {
    font-family: 'TankTrouble', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
    font-size: 16px;
}

a:visited:hover {
    text-decoration: none;
    font-size: 16px;
}

p {
    display: block;
    font-family: 'Lexend Deca', sans-serif !important;
    text-decoration: none;
    font-size: 16px;
}

li {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

h1 {
    font-family: 'TankTrouble', sans-serif;
    font-size: 36px;
}

h2 {
    font-family: 'TankTrouble', sans-serif;
    font-size: 20px;
}

.ttfont {
    font-family: 'TankTrouble', sans-serif !important;
    font-size: 14px !important;
}

/* Navigation Bar */
.nonstick {
    text-align: center;
    object-fit: contain;
    width: 100%;
}

.logo {
    width: 100%;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 0px 5px 0px;
    line-height: 1px;
}

.nav-link {
    vertical-align: 50%;
    padding: 10px 10px 10px 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F1C439;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #6e25a4;
}

.rbtn {
    background-color: #F1C439;
    color: #000 !important;
    border: 2px solid #000;
}

.rbtn:hover {
    background-color: #6e25a4;
    color: #fff !important;
    border: 2px solid #fff;
}


/* Content */
.main {
    margin: 0px 0px 0px 0px;
    word-wrap: break-word;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
}

.divpad {
    padding-top: 15px;
    padding-bottom: 15px;
}

.toppad {
    padding-top: 15px;
}

.botpad {
    padding-bottom: 15px;
}

hr {
    background-color: black;
    width: 120%;
    height: 12px;
    border-top: 1px solid black;
    margin: 0px 0px 0px 0px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Footer items */
.foot {
    line-height: 1.5;
    border-top: 15px solid black;
    word-wrap: break-word;
}

.fbtn {
    background-color: #6e25a4;
    color: #fff !important;
    border: 2px solid #fff;
}

.fbtn:hover {
    background-color: #F1C439;
    color: #000 !important;
    border: 2px solid #000;
}

/* Buttons */
.yback .btn {
    background-color: #6e25a4;
    color: #fff !important;
    border: 2px solid #fff;
}

.yback .btn:hover {
    background-color: #F1C439;
    color: #000!important;
    border: 2px solid #000;
}

.pback .btn {
    background-color: #F1C439;
    color: #000 !important;
    border: 2px solid #000;
}

.pback .btn:hover {
    background-color: #6e25a4;
    color: #fff !important;
    border: 2px solid #fff;
}

/* Manual */
.purple {
    color: #6e25a4 !important;
}

.yellow {
    color: #F1C439 !important;
}

.white {
    color: white !important;
}

.black {
    color: black !important; 
}

/* Image inside image */
.weaponunder {
    position: relative;
    text-align: center;
}

.bottom-right {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.bottom-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

/* Rotation code */
.rotate {
    animation: rotation 12s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* 23rd December 2004 */